// $mainBackgroundColor: #000;
// $textColorForBackground: #fff;
// $MainTextColor: #18191f;

// backgrounds
$linerGradient: linear-gradient(to left, #45c0be, #367877);
$cardBackground: #b6e1da;
$imageCardBackground: #fff;

// colors
$titlesColor: #45c0be;
$textColor: #2f2e41;
$textColorForButton: #fff;
$borderColorForButton: #707070;

// fonts
$textFont: "Segoe UI";
